$brand_color:#d03958;
$brand_color2:#e3d5b8;
$color_text:#161616;
$color_nav:#1b1b1b;
$color_form: #b5b5b5;
$font_text:'PT Serif';
$font_logo:'Quite Chocolatey';
$font_title:'Montserrat', sans-serif;
$font_size_main:20px;
